body {
font-family: Roboto, sans-serif;
background: #9E9E9E;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='Artboard-5' fill='%23616161' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M6 18h12V6H6v12zM4 4h16v16H4V4z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

div {
  /* border: 1px solid red; */
box-sizing: border-box;
}

#page {
height: 100vh;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 45px;  
}

#header {
width: 100%;
height: 4em;
font-size: xx-large;
color: white;
background: #757575;
border: 5px solid black;
border-radius: 35px;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: auto;
text-shadow: 5px 5px 20px black;
box-shadow: 5px 5px 20px black;
}

#pane-and-container {
display: flex;
margin-bottom: auto;
}

#button-pane {
height: 600px;
width: 300px;
display: flex;
flex-direction: column;
justify-content: space-around;
}

#color-picker {
align-self: center;
height: 100px;
width: 100px;
border-radius: 50px;
padding: 0;
border: none;
outline: none;
cursor: pointer;
}

#color-picker::-webkit-color-swatch-wrapper {
padding: 0;
}

#color-picker::-webkit-color-swatch {
border: none;
border-radius: 50px;
}

button {
width: 200px;
height: 50px;
font-size: larger;
align-self: center;
border-radius: 15px;
border: 2px solid black;
box-sizing: border-box;
}

.button-clicked {
background-color: #424242;
color: white;
border: 1px solid white;
}

.clear-button-clicked {
transform: scale(0.95);
}

.button-hover {
scale: 1.05;
cursor: pointer;
}

#scale-container {
height: 80px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#scale {
-webkit-appearance: none;
width: 65%;
height: 15px;
border-radius: 50px;
outline: 1px solid black;
// opacity: 0.8;
cursor: pointer;
}

#scale::-webkit-slider-thumb {
-webkit-appearance: none;
// appearance: none;
width: 25px;
height: 25px;
border-radius: 50px;
background: #212121;
}

#scale-value {
font-size: x-large;
}

#container { 
height: 600px; 
width: 600px;
background-color: white;
box-shadow: 20px 20px 50px black;
}

.row {
display: flex;
}

.gridsquare {
// border: 1px solid black;
box-sizing: border-box;
}