html {
user-select: auto; //supposed to help with smooth drawing
}

body {
font-family: Roboto, sans-serif;
background-color: #BDBDBD;
}

#page, #container, #button-pane, #scale-value, #scale-container {
border: 1px solid red;
}

#page {
height: 100vh;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

#button-pane {
height: 600px;
width: 300px;
display: flex;
flex-direction: column;
justify-content: space-around;
}

#color-picker {
align-self: center;
height: 100px;
width: 100px;
border-radius: 50px;
padding: 0;
border: none;
outline: none;
cursor: pointer;
}

#color-picker::-webkit-color-swatch-wrapper {
padding: 0;
}

#color-picker::-webkit-color-swatch {
border: none;
border-radius: 50px;
}

button {
width: 200px;
height: 50px;
font-size: larger;
align-self: center;
border-radius: 10px;
border: 2px solid black;
box-sizing: border-box;
}

.button-clicked {
background-color: #424242;
color: white;
}

.button-hover {
scale: 1.05;
cursor: pointer;
}

#scale-container {
height: 80px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#scale {
cursor: pointer;
}

#container { 
height: 600px; 
width: 600px;
background-color: white;
}

.row {
display: flex;
}

.gridsquare {
//border: 1px solid black;
box-sizing: border-box;
}