body {
    font-family: Roboto, sans-serif;
    background-color: #424242;
  }
  
  #page, #container {
    border: 2px solid red;
  }
  
  #page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #container {
    height: 500px; 
    width: 500px;
    background-color: white;
    //overflow: auto;
  }
  
  .row {
    display: flex;
  }
  
  .gridsquare {
    border: 1px solid black;
    box-sizing: border-box;
  }
  